.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}



a.available & .fc-event{
    background-color:green !important;
}

.sidenav-fab-container md-sidenav {
  max-width: 300px;
}

.sidenav-fab-container .mat-sidenav-content,
.sidenav-fab-container md-sidenav {
  display: flex;
  overflow: visible;
}

.scrolling-content {
  overflow: auto;
  height: 100%;
}

.fab.mat-mini-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.sidenav{
    background-color: #fff !important;
    padding:5px;
}