<div class="col-md-2">
    <ul class="nav nav-pills nav-stacked" role="tablist">
        <li class="active"><a>Overview</a></li>
        <li><a routerLink="schedule">Calendar</a></li>
        <li><a>Sessions</a></li>
        <li><a>Notes</a></li>
        <li><a>Files</a></li>  
    </ul>
</div>
<div class="col-md-8">
    <div class="record-header">
        <div class="row">
            <div class="col-md-1"><img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user.png" width="50px"/></div>
            <div class="col-md-11">
                <h1 innerHTML="{{model.Id}} - {{model.FirstName}} {{model.LastName}}"></h1>
                <h4 innerHTML="{{model.Email}} {{model.Phone}}"></h4>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="id" i18n>ID</label>
        <span>{{model.Id}}</span>
    </div>
    <div class="form-group">
        <label for="firstname" i18n>FirstName</label>
        <span>{{model.FirstName}}</span>
    </div>
    <div class="form-group">
        <label for="lastname" i18n>LastName</label>
        <span>{{model.LastName}}</span>
    </div>
    <div class="form-group">
        <label for="email" i18n>Email</label>
        <span>{{model.Email}}</span>
    </div>
    <div class="form-group">
        <label for="phone" i18n>Phone</label>
        <span>{{model.Phone}}</span>
    </div>
    <a routerLink="/trainers/{{model.Id}}/edit" i18n class="btn btn-primary" role="button">Edit</a>
</div>
<div class="col-md-2 record-right-nav">
    <h4>Quick Links</h4>
    <ul class="list-unstyled">
        <li><a>Send Text</a></li>
        <li><a>Send Email</a></li>
    </ul>
    <h4>Tags</h4>
    <ul class="list-unstyled">
        <li><label><input type="checkbox" value="">Tag 1</label></li>
        <li><label><input type="checkbox" value="">Tag 2</label></li>
        <li><label><input type="checkbox" value="">Tag 3</label></li>
        <li><label><input type="checkbox" value="">Tag 4</label></li>
        <li><label><input type="checkbox" value="">Tag 5</label></li>
    </ul>
</div>